/* Video styles */
video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Body and text styles */
body {
  height: 100%;
  background-image: url(peakpx.jpg);
  background-size: cover;
  color: white;
}

/* Header styles */
h1 {
  text-align: center;
  font-family: monospace;
  transform: scale(2);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1), fade-in 2s forwards;
  position: relative;
  margin-left: 130px;
  margin-right: 130px;
}

/* H2 styles */
h2 {
  color: rgb(255, 255, 255);
  font-family: monospace;
  overflow: hidden;
  border-right: .15em solid orange;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
  position: relative;
  font-size: xx-large;
  background-color: black;
  z-index: 1;
}

/* Image container styles */
.jacky {
  position: relative;
  z-index: 1;
}

.jk img {
  width: 500px;
  animation-name: move;
  animation-duration: 10s;
  position: relative;
  animation-iteration-count: 1;
}

/* Animation keyframes */
@keyframes scale {
  50% {
      transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
      opacity: 0;
      filter: blur(0);
  }
  100% {
      opacity: 1;
      filter: blur(1);
  }
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
      border-color: transparent;
  }
  50% {
      border-color: rgb(255, 0, 0);
  }
}

@keyframes move {
  0% {
      left: 0%;
      bottom: 0px;
      opacity: 0;
  }
  50%{
    left: 80%;
    opacity: 0.5;
  }
  100% {
      left: 0%;
      bottom: 0px;
      opacity: 1;
  }
}
